.places {
  margin: 40px auto;
}

@media screen and (max-width: 1224px) {
  .places {
    width: 95%;
    padding-top: 45px;
  }
}

@media screen and (max-width: 600px) {
  .places {
    width: 100%;
    margin: 0;
  }
}