.cover__frame {
  background-color: #0278FE;
  padding: 13px 20px;
  border-radius: 5px;
  text-decoration: none;
  color: #FFF;
}

.cover__frame:hover {
  cursor: pointer;
  background-color: #0063d2;
}