.places__grid {
  max-width: 95%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 48px 40px;
  margin: 80px auto;
  grid-template-areas:
  "title website"
  "image paragraph"
  "frame paragraph";
}

.places__grid:first-child {
  margin: 40px auto;
}

.places__grid:last-child {
  margin: 40px auto;
}

.places__grid:nth-child(3) > .places__title {
  width: 120%;
  overflow: hidden;
}

@media screen and (max-width: 1225px) {
  .places__grid:nth-child(3) > .places__title {
    width: auto;
    overflow: hidden;
  }
}

@media screen and (max-width: 600px) {
  .places__grid {
    grid-column: 100%;
    margin: 0%;
    object-fit: cover;
    grid-template:
      "title"
      "website"
      "image"
      "paragraph"
      "frame";
    width: 100%;
    padding-top: 2rem;
    row-gap: 10px;
    column-gap: 0;
  }
}

@media screen and (max-width: 600px) {
  .places__grid:nth-child(4) > .places__frame {
    margin-top: auto;
  }
}

@media screen and (max-width: 700px) {
  .places__grid {
    margin: auto;

  }
}