.places__frame {
  font-size: 18px;
  font-weight: 600;
  padding: 13px 20px;
  background-color: #0278FE;
  border-radius: 5px;
  max-width: fit-content;
  height: min-content;
  text-decoration: none;
  grid-area: frame;
  color: #FFF;
  line-height: 22px;
  margin-top: 0;
  transition: background-color 1s;
}

.places__frame:hover {
  cursor: pointer;
  background-color: #0063D2;
}

@media screen and (max-width: 700px) {
  .places__frame {
    font-size: 14px;
    margin: 0;
    padding: 10px 15px;
    width: 100%;
  }
}